---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Sobre mi";

const identity = {
  firstName: "Juan Pablo Vargas",
  location: "Córdoba, Argentina",
  occupation: "Software Engineer",
  hobbies: ["Gatos", "Vida al aire libre", "Cafe", "Aprender"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Cat lover, es una soft skill!"];

const skillColor = "#5438b4"
---
<BaseLayout pageTitle={pageTitle}>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.location} y trabajo como {identity.occupation}.</li>
      <li>Mis aficiones son: {identity.hobbies.join(", ")}</li>
      
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <style define:vars={{skillColor}}>
      .skill {
        color: var(--skillColor);
        font-weight: bold;
      }
    </style>
</BaseLayout>